/*Page + Menu */
html {
	background-image:url(../images/background.jpg);
	background-repeat: repeat-x;
}

nav{
	width: 50%;
	margin: auto;
	font-family: 'Play', sans-serif;
	text-decoration: none;

}
h1{
	font-size: 35px;
	font-family: 'Play', sans-serif;
	text-align: center;
}

h2{ 
	font-size: 25px;
	font-family: 'Play', sans-serif;
	text-align: center;
	color: #2F4F4F;
}
h3{	
	font-size: 20px;
	text-align: center;
	font-family: 'Play', sans-serif;

}
p{
	font-size: 16px;
	font-family: 'Play', sans-serif;
	text-align: center;
    text-justify: inter-word;
}
ul{
	margin-left:0px; 
	padding-left:0px;
}
#menu li {
	vertical-align: middle;
	margin-bottom: 30px;
	display: inline-block;
	width:19%;
	margin: 0px;
	list-style-type: none;
	text-align: center;
	font-weight: bold;

}



#menu a:link {
	color: black;
	text-decoration: none;
}
#menu a:visited {
	color: black;
	text-decoration: none;
}
#menu a:hover {
	transition: 0.5s;
	font-size: 120%;
	color: black;
	text-decoration: underline;
}

/*PAGE 1*/

#img_presentation{
	width: 80%;
	height: 315px;
	margin:auto;
	text-align: center;
	margin-top:50px;
	margin-bottom: 50px
}

#presentation{
	width: 50%;
	margin: auto;
	text-align: center;
}

#presentation_border{
	margin-left: 10%;
	margin-right: 10%;

}

#projets{
	width: 50%;
	margin: auto;
	text-align: center;
}

#projets_border{
	margin-left: 10%;
	margin-right: 10%;
}
a:link {
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	color: black;
}
.line_p1{
	border-color:gray;
}



/*PAGE 2*/
#chrono_form{
	float: left;
	padding-top: 30px;
	width:49%;
}
#chrono_exp{
	float: right;
	padding-top: 30px;
	width:49%;
}

.chrono_line{
	color: black;
	margin-top :10px;
	margin: auto;
	height: 30px;
	width : 1px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.horizontal_p2{

	height: 0.5px;
	width: 100px;
	margin-right: auto;
	margin-left:auto;
	border-color: black;
	padding:0px;


}
.font_page_2 h3 {
	padding-bottom: 50px;
}
.subtitle_p2{
	font-size: 14px;
}
.ville_p2{
	font-size: 14px;
	color:navy;
}

.form {
		opacity:100%;
}

/*PAGE 3*/
.img_icon{
	height: 80px;
	width: 80px;
}

#section_aboutme {
	margin-left: 10%;
	margin-right: 10%;

}
.subtitle_p3{
	margin: 0px;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 1px;
}
.inline{
	font-size: 12px;
	text-align: center;
	display: inline-block; 
	width: 30%;
	height: 250px;
	border: 1px solid silver;
	margin: 5px;
}	
/*PAGE 4 */









