/*Page + Menu */
html {
	background-color: gray;
}

nav{
	width: 50%;
	margin: auto;
	font-family: Arial;
	text-decoration: none;

}


ul{
	margin-left:0px; 
	padding-left:0px;
}
#menu li {
	display: inline-block;
	width:19%;
	margin: 0px;
	list-style-type: none;
	text-align: center;

}

#menu a:hover {
	color: white;
	text-decoration: none;
}
#menu a:link {
	color: white;
	text-decoration: none;
}
#menu a:visited {
	color: white;
	text-decoration: none;
}
/*PAGE 1*/
#img_presentation{
	position: relative;
	width: 80%;
	height: 300px;
	margin:auto;
	border: 1px solid black;
	text-align: center;
}

#presentation{
	width: 80%;
	margin: auto;
	text-align: center;
	border: 1px solid black;
}

#presentation_border{

}

#projets{
	width: 80%;
	margin: auto;
	text-align: center;
	border: 1px solid black;
}

#projets_border{

}

/*PAGE 2*/
#chrono_form{
	float: left;
	padding-top: 10em;
	width:49%;
}
#chrono_exp{
	float: right;
	padding-top: 10em;
	width:49%;
}

.chrono_line{
	color: black;
	margin-top :10px;
	margin: auto;
	height: 30px;
	width : 1px;
}
p{text-align: center}
h2{ padding-bottom:3em;
	text-align: center}


/*PAGE 3*/


.inline{float:left; 
	margin: 5%;
	border: 1px solid black;
	width: 20%;
	height: 200px;
}








